<div class="newsletter">
  <p>Newsletter</p>
  <img src="img/arrow.svg" alt="arrow newsletter" />
</div>
<div class="footer-text">
  <div class="footer-first">
    <div class="contact">
      <h4>contact</h4>
      <p>4AD</p>
      <p>10 Great Marlborough St</p>
      <p>London W1F 7LP - England</p>
      <p>+44 83 300 732</p>
      <p>4ad@4ad.com</p>
      <div class="contact-links">
        <a href="#" class="links-footer">For professionals</a>
        <a href="#" class="links-footer">For new artists</a>
      </div>
    </div>
    <p>© 2025 4AD All Rights Reserved</p>
  </div>
  <div class="footer-second">
    <div class="info">
      <h4>info</h4>
      <a href="#" class="links-footer">Privacy Policy</a>
      <a href="#" class="links-footer">Cookie Policy</a>
      <a href="#" class="links-footer">Consent Preferences</a>
    </div>
  </div>
</div>
<div class="logo-links">
  <img src="img/spotify.svg" alt="spotify logo" />
  <img src="img/youtube.svg" alt="youtube logo" />
  <img src="img/instagram.svg" alt="instagram logo" />
  <img src="img/x.svg" alt="x logo" />
</div>
