<nav>
  <ul>
    <li>
      <div>
        <a href="#">Artists</a>
        <img src="img/line-nav.svg" alt="line" />
      </div>
    </li>
    <li>
      <div><a href="#">Live</a> <img src="img/line-nav.svg" alt="line" /></div>
    </li>
    <li>
      <div><a href="#">News</a> <img src="img/line-nav.svg" alt="line" /></div>
    </li>
    <li>
      <div><a href="#">Store</a> <img src="img/line-nav.svg" alt="line" /></div>
    </li>
    <li>
      <div><a href="#">About</a> <img src="img/line-nav.svg" alt="line" /></div>
    </li>
  </ul>
</nav>
