<nav>
  <ul>
    <li>
      <div class="menu-categories">
        <a href="#">Artists</a>
        <img src="img/line-nav.svg" alt="line" />
      </div>
    </li>
    <li>
      <div class="menu-categories">
        <a href="#">Live</a> <img src="img/line-nav.svg" alt="line" />
      </div>
    </li>
    <li>
      <div class="menu-categories">
        <a href="#">News</a> <img src="img/line-nav.svg" alt="line" />
      </div>
    </li>
    <li>
      <div class="menu-categories">
        <a href="#">Store</a> <img src="img/line-nav.svg" alt="line" />
      </div>
    </li>
    <li>
      <div class="menu-categories">
        <a href="#">About</a> <img src="img/line-nav.svg" alt="line" />
      </div>
    </li>
  </ul>
</nav>
