@font-face {
  font-family: "FKDisplayRegular"; /* Nom que vous choisissez pour la police */
  src: url("/src/fonts/FKDisplayTrial-Regular.otf") format("opentype"); /* Chemin vers votre fichier */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FKDisplayRegularAlt"; /* Nom que vous choisissez pour la police */
  src: url("/src/fonts/FKDisplayTrial-RegularAlt.otf") format("opentype"); /* Chemin vers votre fichier */
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background-color: black;
  color: white;
  font-family: "FKDisplayRegularAlt", sans-serif;
}
